body {
    background-color: mediumturquoise;
    }


.jumbotron {
    background-image: url("images/pic1.jpeg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 5px white;
    }

.well {  
    box-shadow: inset 0px 0px 13px 8px rgba(48,197,206,0.77);
    }

#bubble {
    outline: 4px solid #000000;
    outline-offset: 0px;
    }
#gauge {
    outline: 4px solid #000000;
    outline-offset: 0px;
    }
#bar {
    outline: 4px solid #000000;
    outline-offset: 0px;
        }

